.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .word {
    font-size: 2rem;
    margin: 1rem 0;
  }
  .default {
    color: black;
  }
  .palindrome {
    color: red;
  }
  .onlyNumbers {
    color: blue;
  }
}
